/* day text row */
tr:not(:first-child){
    background-color: powderblue;
    width: 10px;
    height: 10px;
}



td{
    width: 10em;
    height: 7rem;
    position: relative;
    
}

td button{
    position: absolute;
    right: 0%;
    top: 0%;
}