<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction Page</title>
</head>
<body>
    <nav>
        <a href="/home.html"><button>Home</button></a>
        <a href="/task.html"><button>Tasks</button></a>
    </nav>
    <h1>Instruction</h1>
    <h2>How to access the calendar</h2>
    <ul>
        <li>Click on calender button</li>
        <li>Login using mail: test@gmail.com password: test</li>
    </ul>
    <h2>How to add deadlines onto calendar</h2>
    <ul>
        <li>Click on + button on corner of selected date</li>
        <li>Create a name for your deadline</li>
        <li>Choose a color to differentiate deadline</li>
        <li>Click add button to put into calendar</li>
    </ul>
    <h2>How to delete deadline</h2>
    <ul>
        <li>Click on the deadline you want to delete</li>
        <li>Press on the view button to open deatails of deadline</li>
        <li>Click on delete to delete the deadline</li>
    </ul>
</body>
</html>